<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="refresh" th:content="'3;url=' + ${www}">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<style>
    body, html {
        margin-left: [[${marginLeft}]];
        padding: 0;
        height: 100%;
        background-color: [[${backgroundColor}]];
        /*background-image: linear-gradient(to right, #1d44ef, #cad4fd);*/
        overflow-x: hidden;
        font-size: 5vh;
    }
</style>

<body>
Hello world
id = <p th:text="${id}"></p><br>
again = [[${id}]]<br>
again 2 = [${id}]<br>
again 3 = ${id}<br>
[[${textContent}]]

</body>
</html>